<div id="content">
    <main>
        <header data-sr-id="16"
            style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;">
            <h1 class="big-heading">Archive</h1>
            <p class="subtitle">A big list of things I’ve worked on</p>
        </header>
        <div class="archive__StyledTableContainer" data-sr-id="17"
            style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;">
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Title</th>
                        <th class="hide-on-mobile">Made at</th>
                        <th class="hide-on-mobile">Built with</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2021</td>
                        <td class="title">CDN Migrator</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>EJS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>

                            <span>Formelo</span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/cdn-migrator" aria-label="GitHub Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>


                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2021</td>
                        <td class="title">CSV Generator</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>EJS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>

                            <span>Formelo</span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/csv-generator" aria-label="GitHub Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2021</td>
                        <td class="title">CATS Foundation Website</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>Wordpress

                            </span>

                        <td class="links">
                            <div>
                                <a href="https://www.catsfoundation.net/" aria-label="External Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-external-link">
                                        <title>External Link</title>
                                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                        <polyline points="15 3 21 3 21 9"></polyline>
                                        <line x1="10" y1="14" x2="21" y2="3"></line>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2021</td>
                        <td class="title">Workers e-Attendance</td>
                        <td class="company hide-on-mobile"><span>—</span></td>
                        <td class="tech hide-on-mobile">
                            <span>React JS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>
                            <span>Redux
                            </span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/workers-attendance-client"
                                    aria-label="GitHub Link" rel="noopener noreferrer" target="_blank"><svg
                                        xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>
                    <!-- 
                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2021</td>
                        <td class="title">Gabanishe</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>EJS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>

                            <span>Formelo</span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/csv-generator" aria-label="GitHub Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr> -->

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2021</td>
                        <td class="title">Culconnect</td>
                        <td class="company hide-on-mobile"><span>—</span></td>
                        <td class="tech hide-on-mobile">
                            <span>React JS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>
                            <span>Redux
                            </span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/CulConnect-Admin-Client"
                                    aria-label="GitHub Link" rel="noopener noreferrer" target="_blank"><svg
                                        xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-github">
                                        <title>Client GitHub Repo</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>

                                <a href="https://github.com/kelzvictoria/Culconnect-Admin-server"
                                    aria-label="GitHub Link" rel="noopener noreferrer" target="_blank"><svg
                                        xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-github">
                                        <title>Server GitHub Repo</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2020</td>
                        <td class="title">Pension Calculator</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>EJS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>

                            <span>Formelo</span>
                        <td class="links">
                            <div>
                                <a href="https://formelo.stanbicibtcpension.com/tools/pension-calculator"
                                    aria-label="External Link" rel="noopener noreferrer" target="_blank"><svg
                                        xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-external-link">
                                        <title>External Link</title>
                                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                        <polyline points="15 3 21 3 21 9"></polyline>
                                        <line x1="10" y1="14" x2="21" y2="3"></line>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2020</td>
                        <td class="title">Budget Planner</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>EJS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>

                            <span>Formelo</span>
                        <td class="links">
                            <div>
                                <a href="https://formelo.stanbicibtcpension.com/tools/budget-planner"
                                    aria-label="External Link" rel="noopener noreferrer" target="_blank"><svg
                                        xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-external-link">
                                        <title>External Link</title>
                                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                        <polyline points="15 3 21 3 21 9"></polyline>
                                        <line x1="10" y1="14" x2="21" y2="3"></line>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2020</td>
                        <td class="title">Gbodo NG</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>Wordpress</span>
                        <td class="links">
                            <div>
                                <a href="https://gbodo.ng/" aria-label="External Link" rel="noopener noreferrer"
                                    target="_blank"><svg xmlns="http://www.w3.org/2000/svg" role="img"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-external-link">
                                        <title>External Link</title>
                                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                        <polyline points="15 3 21 3 21 9"></polyline>
                                        <line x1="10" y1="14" x2="21" y2="3"></line>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2020</td>
                        <td class="title">InstaCare</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>React JS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>
                            <span>Redux<span class="separator">·</span>
                            </span>

                            <span>Formelo</span>
                            </span>
                        <td class="links">
                            <div>
                                <a href="https://useinstacare.com/" aria-label="External Link" rel="noopener noreferrer"
                                    target="_blank"><svg xmlns="http://www.w3.org/2000/svg" role="img"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-external-link">
                                        <title>External Link</title>
                                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                        <polyline points="15 3 21 3 21 9"></polyline>
                                        <line x1="10" y1="14" x2="21" y2="3"></line>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>
                    <!-- 
                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2019</td>
                        <td class="title">Fly Local</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>EJS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>

                            <span>Formelo</span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/csv-generator" aria-label="GitHub Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr> -->

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2019</td>
                        <td class="title">Tolu Oyetunji</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>PHP
                                <span class="separator">·</span>
                            </span>
                            <span>JavaScript
                                <span class="separator">·</span>
                            </span>
                            <span>HTML
                                <span class="separator">·</span>
                            </span>
                            <span>CSS
                                <span class="separator">·</span>
                            </span>
                            <span>WordPress
                                <span class="separator">·</span>
                            </span>
                            <span>Formelo</span>
                        <td class="links">
                            <div>

                                <a href="https://toluoyetunji.com/" aria-label="External Link" rel="noopener noreferrer"
                                    target="_blank"><svg xmlns="http://www.w3.org/2000/svg" role="img"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-external-link">
                                        <title>External Link</title>
                                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                        <polyline points="15 3 21 3 21 9"></polyline>
                                        <line x1="10" y1="14" x2="21" y2="3"></line>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2019</td>
                        <td class="title">BBC</td>
                        <td class="company hide-on-mobile"><span>—</span></td>
                        <td class="tech hide-on-mobile">
                            <span>HTML
                                <span class="separator">·</span>
                            </span>
                            <span>CSS
                                <span class="separator">·</span>
                            </span>

                            <span>JavaScript</span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/bbc" aria-label="GitHub Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2018</td>
                        <td class="title">Vidly</td>
                        <td class="company hide-on-mobile"><span>ADI Systems LTD</span></td>
                        <td class="tech hide-on-mobile">
                            <span>ASP.NET MVC5
                                <span class="separator">·</span>
                            </span>

                            <span>SQL</span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/Vidly" aria-label="GitHub Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>

                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2018</td>
                        <td class="title">Fixed Asset</td>
                        <td class="company hide-on-mobile"><span>ADI Systems LTD</span></td>
                        <td class="tech hide-on-mobile">
                            <span>ASP.NET MVC5
                                <span class="separator">·</span>
                            </span>

                            <span>SQL</span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/FixedAssets" aria-label="GitHub Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>


                    <tr
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2018</td>
                        <td class="title">D-Blood</td>
                        <td class="company hide-on-mobile"><span>—</span></td>
                        <td class="tech hide-on-mobile">
                            <span>ASP.NET MVC5
                                <span class="separator">·</span>
                            </span>

                            <span>SQL</span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/D-Blood" aria-label="GitHub Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>
                    <!-- 

                    <tr data-sr-id="18"
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2021</td>
                        <td class="title">Desktop CGPA Calculator</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>EJS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>

                            <span>Formelo</span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/csv-generator" aria-label="GitHub Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr>


                    <tr data-sr-id="18"
                        style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;">
                        <td class="overline year">2021</td>
                        <td class="title">Future Value Calculator</td>
                        <td class="company hide-on-mobile"><span>PM Global</span></td>
                        <td class="tech hide-on-mobile">
                            <span>EJS
                                <span class="separator">·</span>
                            </span>
                            <span>Express JS
                                <span class="separator">·</span>
                            </span>

                            <span>Formelo</span>
                        <td class="links">
                            <div>
                                <a href="https://github.com/kelzvictoria/csv-generator" aria-label="GitHub Link"
                                    rel="noopener noreferrer" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                                        role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-github">
                                        <title>GitHub</title>
                                        <path
                                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                        </path>
                                    </svg></a>
                            </div>
                        </td>
                    </tr> -->

                </tbody>
            </table>
        </div>
    </main>

</div>