<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Victoria Kazeem</title>
    <link rel="stylesheet" href="../css/custom.css" />
</head>

<body style="height: 100%;">
    <div class="root">
        <div class="layout__StyledContent">
            <header class="nav__StyledHeader">
                <nav class="nav__StyledNav">
                    <div class="logo" tabindex="-1">
                        <a href="/"> VK </a>
                    </div>

                    <div class="nav__StyledLinks">
                        <ol>
                            <li class="navlink-item" style="transition-delay: 0ms;">
                                <a href="/#about">About</a>
                            </li>

                            <li class="navlink-item" style="transition-delay: 100ms;">
                                <a href="/#experience">Experience</a>
                            </li>

                            <li class="navlink-item" style="transition-delay: 200ms;">
                                <a href="/#projects">Projects</a>
                            </li>

                            <li class="navlink-item" style="transition-delay: 300ms;">
                                <a href="/#contact">Contact</a>
                            </li>
                        </ol>

                        <div class="" style="transition-delay: 400ms;">
                            <a class="resume-button" href="/resume.pdf" target="_blank" rel="noopener noreferrer">
                                Resume
                            </a>
                        </div>
                    </div>

                    <div class="menu_StyledMenu">
                        <div>
                            <button class="menu__StyledHamburgerButton">
                                <div class="ham-box">
                                    <div class="ham-box-inner"></div>
                                </div>
                            </button>
                            <aside class="menu__StyledSidebar" tabindex="-1">
                                <nav>
                                    <ol>
                                        <li>
                                            <a href="/#about"> About </a>
                                        </li>

                                        <li>
                                            <a href="/#experience"> Experience </a>
                                        </li>

                                        <li>
                                            <a href="/#projects"> Projects </a>
                                        </li>

                                        <li>
                                            <a href="/#contact"> Contact </a>
                                        </li>
                                    </ol>
                                    <a class="resume-link" href="/resume.pdf">Resume</a>
                                </nav>
                            </aside>
                        </div>
                    </div>
                </nav>
            </header>