.App {
  text-align: center;
  padding: 2.5%;
  font-size: 20px;
}

.pic {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

@font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
  font-weight: 300;
}

body {
  font-family: "RobotoCondensed";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "EconomicaBold";
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
